
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    
    &_search{
        display: flex;
        padding: 5px 0;
        input{

            padding: 10px 0;
            padding-left: 10px;
            width: 500px;
            font-size: 15px;
            background-color: #fff;
            border: 1px solid #f6412d;
            outline: none;
            flex-grow: 1;
        }
        .iconsearch{
            color: #fff;
            font-size: 25px;
            padding: 0 50px;
            background-color: #f6412d;
        }
    }
    &_nav{
        display: flex;
        gap: 25px;
    
    
        li{
            color: #000;
            list-style: none;
            a{
                color: #000;
                font-size: 13px;
                text-decoration: none;
            }
        }
        .icon{
            font-size: 20px;
        }
    }
}